.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    height: 'fit-content';
    border:1px solid grey;
    width: fit-content;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 1px grey;
}
  
.input{
    width: auto;
    font-size: 1.3em;
    line-height: 2;
    padding: 5px;
    margin-bottom: 10%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

label{
    margin-left: 5px;
    font-size: 1.5em;
}

.login-h3{
    font-size: 3em;
    margin: 3%;
    text-align: center;
    color: #5271FF
}

.btn{
    width:80%;
    height: 50px;
    font-size: x-large;
    margin-bottom: 2%;
    background-color: #5271FF;
    border-color: #5271FF;
    color: white;
    border-radius: 5px;
}