.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;
    height: 60vh;
    border:1px solid grey;
    width: fit-content;
    padding:2%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 1px grey;
  }
  
  input{
    width: auto;
    font-size: medium;
    line-height: 2;
    padding: 5px;
    margin-bottom: 10%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  label{
    margin-left: 5px;
    font-size: x-large;
  }

  .login-h3{
    font-size: 2.5em;
    margin: 3%;
    text-align: center;
    color: #5271FF
  }