body{
    background: url("../../assets/background2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 100%;
    height: 100%;
}

.brand{
    color: #5271FF;
    font-family: Brasika;
    margin-left: 2%;
}

.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;
    height: 60vh;
    border:1px solid grey;
    width: fit-content;
    padding:2%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 1px grey;
}
  
input{
    width: auto;
    font-size: 1.3em;
    line-height: 2;
    padding: 5px;
    margin-bottom: 10%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

label{
    margin-left: 5px;
    font-size: 1.5em;
}

.login-h3{
    font-size: 3em;
    margin: 3%;
    text-align: center;
    color: #5271FF
}