.user-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2%;
}

.user-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.delete-btn{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 5%;
}