.user-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2%;
}

.user-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}